# Configurações do Servidor
PORT=3000
NODE_ENV=development

# Configurações do Banco de Dados (AWS)
# Substitua os valores abaixo pelas credenciais reais no arquivo .env
DATABASE_URL=mysql://usuario:senha@host-do-banco-na-aws:3306/nome_do_banco

# Autenticação (Para quando formos implementar o login)
# JWT_SECRET=sua_chave_secreta_aqui